img{
    display: flex;
    flex-wrap: wrap;
    width: 1240px;
    height: 520px;
 }
 @media screen and (min-width:0px) and (max-width:500px){
    #md{
        font-size: 30px;
    }
    
 }
 .div1{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: -485px;
    gap: 50px;
    margin-left: 80px;
    position: sticky;
 }
.div1 a{
   text-decoration: none;
    color: rgb(16, 15, 15);
 }
.div1 h1{
    font-style: oblique;
    margin-top: -10px;
    margin-left: 20px;
    position: sticky;
 }
.div1 h4{
   margin-left: -200px;
   margin-top: 30px;
   position: sticky;
  
 }
.div1 h3{
   font-size: medium;
   position: sticky;
 }
 #div11{
    display: flex;
    position: relative;
   flex-wrap: wrap;
   text-align: center;
  justify-content: center;
   background-color: rgb(16, 237, 241);
    height: 120px;
    width: 840px;
    margin-top: 180px;
    margin-left: 220px;
    gap: 20px;
 }
 #div11 #main{
   
    margin-top: 40px;
    gap: 50px;
 }
 #div12{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 100px;
    width: 1240px;
    margin-top: px;
    background-color: rgb(208, 233, 237);
    position: sticky;
    top: 0.5px;
    z-index: 1;
 }
 #div12 a{
   text-decoration: none;
    color: rgb(16, 15, 15);
 }
#div12 h1{
    font-style: oblique;
    margin-top: -5px;
    margin-left: 20px;
 }
#div12 h4{
   margin-left: -215px;
   margin-top: 30px;
  
 }
#div12 h3{
   font-size: medium;
 }
 @keyframes zoomIn {
from {
    transform: scale(0.9);
    opacity: 0;
}
to {
    transform: scale(1);
    opacity: 1;
}
}
 #div2{
    display: flex;
    justify-content: space-around;
   flex-wrap: wrap;
    border: 2px,solid;
    width: 1236px;
    height: 580px;
    margin-top: 7px;
    background-color: rgba(147, 11, 54, 0.491);
    border-color: transparent;
    
    

 }
 #div2 .img1{
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 22vw;
    height: 80vh;
    margin-top: 115px;
     animation: zoomIn 3s ease-in ;
     box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
 }
 #div2 .img1:hover{
    transform: scale(1.05);
box-shadow: 8px 16px 24px rgba(0, 0, 0, 0.2);
 }
 
 #div2 .img2{
display: grid;
justify-content: space-between;

width: 22vw;
height: 80vh;
margin-top: 70px;
animation: zoomIn 3s ease-in ;
box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.1);
transition: transform 0.4s ease, box-shadow 0.3s ease;
 }
 #div2 .img2:hover{
    transform: scale(1.05);
box-shadow: 8px 16px 24px rgba(0, 0, 0, 0.2);
 }
 #div2 div{
    flex-wrap: wrap;
    animation: zoomIn 2s ease-in ;
 }
#div2 p{
    display: grid;
   justify-content: space-between;
   flex-wrap: wrap;
   margin-top: 55px;
   color: #fcf7f7;
     
 }
#div2 h1{
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    font-style: oblique;
   width: 350px;
   color: rgba(165, 42, 42, 0.895);
   
 }
 #div2 .p1{
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 350px;
    margin-top: -0px;

 }
 #div2 .p2{
    width: 320px;
    flex-wrap: wrap;
    margin-top: -0px;
 }
 #div2 img{
    height: 15vh;
    width: 20vw;
  color: brown;
   margin-left: -160px;
   margin-top: -94px;
 }
#div2 .p3{
    margin-top: -10px;
    font-size: x-large;
    color: brown;
    
}
#div2 a{
    text-decoration: none;
}
@keyframes zoomIn {
from {
    transform: scale(0.9);
    opacity: 0;
}
to {
    transform: scale(1);
    opacity: 1;
}
}
#div3{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px,solid;
    width: 1236px;
    height: 530px;
    border-color: transparent;
    margin-top: 7px;
    background-color: rgb(2, 64, 2);
    gap: 10px;
    animation-duration: 6s;
   
}
#div3 div{
    flex-wrap: wrap;
    animation: zoomIn 2s ease-in ;
    animation-duration: 6.5s;
}
#div3 p{
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 80px;
    color: white;
    
    
}
#div3 h1{
display: grid;
justify-content: space-between;
flex-wrap: wrap;
font-style: oblique;
 width: 20vw;
 color: rgb(169, 123, 6);

}
#div3 .p1{
    width: 30vw;
   margin-top: -0px;
}


#div3 .img1{
    height: 80vh;
    width: 25vw;
    margin-top: 40px;
    animation: zoomIn 2s ease-in ;
    animation-duration: 6s;
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}
#div3 .img1:hover{
   
transform: scale(1.05);
box-shadow: 8px 16px 24px rgba(0, 0, 0, 0.2);
}

#div3 .img2{
   height: 80vh;
   width: 25vw;
   margin-top: 40px;
   animation: zoomIn 2s ease-in ;
   animation-duration: 6s;
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.4s ease, box-shadow 0.3s ease;
}

#div3 .img2:hover {
transform: scale(1.05);
box-shadow: 8px 16px 24px rgba(0, 0, 0, 0.2);
}
#div3 .p2{
    color:rgb(169, 123, 6) ;
    margin-top: -0px;
}
#div3 .p3{
    margin-top: -0px;
    margin-left: 50px;
}
#div3 img{
    height: 15vh;
    width: 15vw;
  color: brown;
   margin-left: -90px;
   margin-top: -85px;
}
#img{
    margin-top: 7px;
    flex-wrap: wrap;
    height: 400px;
}
#div4{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 2px,solid;
    height: 520px;
    width: 1236px;
    margin-top: 7px;
    background-color: rgba(220, 133, 146, 0.877);
    border-color: transparent;
}
#div4 p{
    display: grid;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 50px;
}
#div4 h1{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-wrap: wrap;
    color: rgb(144, 38, 38);
    font-style: oblique;
}
#div4 #div41{
    display: grid;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 150px;
    grid-template-columns: 200px 200px 200px;
    grid-template-areas: none;
    gap: 50px;
}
#div41 p{
    display: grid;
   flex-wrap: wrap;
    justify-content: center;
    margin-top: 60px;
  
 

}
#div41 p:hover{
    color: white;
}
#div41 .area1{

border: 2px,solid,white;
text-align: center;
width: 200px;
height: 150px;
box-shadow: 0 8px 16px;
}
#div41 .area1:hover{
transform: scale(1.05);
  color: rgb(255, 34, 0);
}

#div41 .area2{

border: 2px,solid white;
text-align: center;
height: 150px;
width: 200px;
box-shadow: 0 8px 16px;
}
#div41 .area2:hover{
transform: scale(1.05);
color: darkorange;
}

#div41   .area3{

border: 2px,solid,rgb(234, 230, 230);
text-align: center;
height: 150px;
width: 200px;
box-shadow: 0 8px 16px;
}
#div41 .area3:hover{
transform: scale(1.05);
color: forestgreen;
}
#div41  .area4{

border: 2px,solid,white;
text-align: center;
width: 200px;
height: 150px;
margin-top: -70px;
box-shadow: 0 8px 16px;
}
#div41 .area4:hover{
transform: scale(1.05);
color: aqua;
}
#div41  .area5{

border: 2px,solid,white;
text-align: center;
width:200px;
height: 150px;
margin-top: -70px;
box-shadow: 0 8px 16px;
}
#div41 .area5:hover{
transform: scale(1.05);
color: maroon;
}

#div41  .area6{
   
    border: 2px,solid,white;
    text-align: center;
    width: 200px;
    height: 150px;
    margin-top: -70px;
    box-shadow: 0 8px 16px;
}
#div41 .area6:hover{
    transform: scale(1.05);
    color: blue;
}
@keyframes zoomIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
    }
#div5{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    border: 2px,solid;
    height: 520px;
    width: 1236px;
    margin-top: 7px;
    background-image: url(./important-opportunity_15_9495.jpeg);
    background-size: cover;
    border-color: transparent;
   
}
#div5 p{
    display: grid;
   
    flex-wrap: wrap;
    margin-top: 130px;
    color: aliceblue;
    animation: zoomIn 2s ease-in ;
    animation-duration: 10s;
}
#div5 h1{
    color: rgb(224, 225, 227);
    font-style: oblique;
    animation: zoomIn 2s ease-in ;
    animation-duration: 10s;
    
}
#div5 .p1{
    width: 45vw;
    margin-top: 30px;
    animation: zoomIn 2s ease-in ;
    animation-duration: 10s;
}
#div5 .img1{
    height: 80px;
    width: 80px;
    border-radius: 100px;
    margin-top: 40px;
    animation: zoomIn 2s ease-in ;
    animation-duration: 10s;
}
#div5 h3{
    font-style: oblique;
    color: aliceblue;
    margin-top: -50px;
    margin-left: 110px ;
    animation: zoomIn 2s ease-in ;
    animation-duration: 10s;
}
#div5 .p2{
   margin-top: -15px;
   margin-left: 120px;
   animation: zoomIn 2s ease-in ;
    animation-duration: 10s;
}
#div6{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px,solid;
    width: 1232px;
    height: 520px;
    margin-top: 7px;
    background-color: rgb(3, 39, 3);
    border-color: transparent;
}
#div6 p{
    width: 300px;
    color: aliceblue;
    font-size: x-large;
    font-style: oblique;
    margin-top: 150px;
}
#div6 .p1{
    font-size: medium;
    font-style: normal;
    color: aliceblue;
    margin-top: 10px;
}
#div6 a{
    text-decoration: none;
}
#div6 .div61{
    display: grid;
    flex-wrap: wrap;
    border: 2px,solid;
    height: 450px;
    width: 450px;
    margin-top: 40px;
    background-color: rgb(177, 63, 101);
    border-color: transparent;

}

#div6 .div61 p{
display: grid;
justify-content: space-around;
    font-size: medium;
   margin-top: 10px;
}
#div6 .div61 h2{
    display: grid;
    justify-content: space-around;
    margin-top: -150px;
    margin-left: -145px;
    color: rgba(143, 24, 24, 0.808);
}
.div61 .fm{
   display: flex;
   justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
    height: 10px;
    margin-top: -215px;
  }
  .div61 .fm #Subject{
    margin-left: -45px;
  }
  .div61 .fm #Message{
   height: 80px;
   width: 300px;
 
  }
  .div61 .fm #SM{
    height: 40px;
    width: 150px;
   background-color: goldenrod;
    margin-left: 38px;
    color: aliceblue;
  }
  .div61 #SM:hover{
    background-color: black;
  }
  #div7{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2px,solid;
    width: 1235px;
    height: 385px;
    margin-top: 7px;
    background-color: rgb(241, 106, 106);
    border-color: transparent;
    
  }
 #div7 h2{
    display: flex;
    
    color: aliceblue;
    margin-top: 80px;
 }
 #div7 p{
    width: 300px;
    color: aliceblue;
    font-size: medium;
    opacity: 0.8;
 }
 #div7 .p1  input{
   display: none;
   
 }
#div7 .p1:hover input{
    display: inline;
   
}
a{
    text-decoration: none;
}
#div7 .img1{
height: 50px;
width: 20px;
margin-top: 280px;
margin-left: -360px;
}

    